body {
   font-size:100%;
}

h1 {
   font-family:"Arial", "Helvetica", "sansserif"; 
   font-size:1.5em;
   font-weight:bold;
}

h2 {
   font-family:"Times New Roman", "Times", "serif";
   font-size:1.4em;
   font-weight:bold;
   margin-bottom:0px;
}

.header {
   font-size:125%;
}

pre, code, .code {
   font-family:"Courier New", "Courier", "monospace";
   font-weight:bold;
   font-size:90%;
}

.comment {
   color:blue;
}

.it {
   font-family:"Times New Roman", "Times", "serif";
   font-weight:normal;
   font-style:italic;
   font-size:90%;
}
   
.banner {
   border:0;
}

.sansserif {
   font-family:"Helvetica Neue", "Helvetica", "Arial", "sansserif";
}

.bannerText {
   font-family:"Helvetica Neue", "Helvetica", "Arial", "sansserif";
   font-size:1.6em;
   font-weight:bold;
}

.index {
   border-collapse:collapse;
   margin-top:1px;
}

.indexHead {
   font-family:"Times New Roman", "Times", "serif";
   font-size:1.4em;
   font-weight:bold;
   padding-top:1em;
}

.indexKey {
   border:1px solid black; 
   padding:3px 5px;
   font-family:"Courier New", "Courier", "monospace";
   font-weight:bold;
   font-size:90%;
   vertical-align: top;
}

.indexSynopsis {
   border:1px solid black; 
   padding:3px 5px;
   vertical-align: top;
}

.include {
   font-family:"Courier New", "Courier", "monospace";
   font-weight:bold;
   font-size:100%;
}

.detailCode {
   padding:0px;
   font-family:"Courier New", "Courier", "monospace";
   font-weight:bold;
   font-size:100%;
}

.detailHTML {
   font-family:"Times New Roman", "Times", "serif";
   font-size:1em;
   margin-left:20px;
}

.inset {
   margin-left:36px;
}

.usageCode {
   font-family:"Courier New", "Courier", "monospace";
   font-weight:bold;
   font-size:90%;
   margin-left:40px;
}   
