*.pro.user
.DS_Store
deploy-*.pl
Autograder_QtCreatorProject/lib/autograder
Autograder_QtCreatorProject/lib/StanfordCPPLib
build/
build-*/
build_*/
cp-cpplib-codestepbystep.sh
empty-project/lib/*
JavaBackEnd/eclipseproject/bin/*
JavaBackEnd/eclipseproject/obf/temp/*
Karel/src/CollectNewspaper.java
Karel/bin/*
Karel/.settings
local/*
sample-project/lib/*
spl.jar
StanfordCPPLib_QtCreatorProject/lib/StanfordCPPLib
StanfordCPPLib_experimental/
stanfordcpplib.cpp
stanfordcpplib.h
