*.pro.user
.DS_Store
deploy-*.pl
todo-stanford-cpp-lib.txt
Autograder_QtCreatorProject/lib/autograder
Autograder_QtCreatorProject/lib/StanfordCPPLib
build/
JavaBackEnd/eclipseproject/bin/
JavaBackEnd/eclipseproject/obf/temp/
Karel/
StanfordCPPLib_QtCreatorProject/lib/StanfordCPPLib
