body, table, div, p, dl {font-family: 'Source Sans Pro', sans-serif; }

code, tt, pre, div.line, .code {font-family: Consolas, Inconsolata, Menlo, monospace;}

pre.fragment {
    margin: 2em;
    padding: 10px 24px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: linen;
    color: gray;
}

h2 { color:  #3b5998; }

#jzlist            { table-layout:auto; width:100%; border-collapse: collapse; font-size: 90%;}
#jzlist td         { white-space:nowrap; padding: 2px 10px; border:1px dotted lightgray; }
#jzlist td.brief { width:100%; }
#jzlist tr:nth-child(odd) { background: whitesmoke; }

.memitem           { border-top: 3px double silver; padding: 10px 2px;}
.memitem .memproto { color: darkgreen; font-size:110%; font-weight:bold; font-family: Consolas, Inconsolata, Menlo, monospace;}
.memitem .memdoc   { padding-left: 25px; }

a       { text-decoration: none; color:#8c1515}
a:hover { text-decoration: underline; }
a.el    { font-weight: bold; }


jz {color: #3b5998;}
sup { font-size:80%; }

dl.note {
    margin: 2em;
    padding: 10px 24px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: #ffffc0;
    color: #333;
    font-family: Georgia, serif;
}